/*
Main Landing Page
*/


body {
	background: #c0c0c0 url(../img/noise.png);
}

div#main {
	width: 100%;
}

div#title-container {
	/*width: 960px;*/
}

div#unicorn-title-wrapper {
	width: 960px;
	margin: 0 auto;

}

div#title {
	width: 560px;
	height: 120px;
	margin: 0 auto;
	float: left;
}

img {
	float: left;
	/*margin: 0 0 0 100px;*/
	width: 300px;
	height: 225px;
}

h1 {
	font-family: "museo-slab", serif;
	font-size: 5em;
	color: #444;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 65px;
	height:;
}

h3 {
	font-family: "museo-sans", sans-serif;
	line-height: 20px;
	color: #636363;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: -40px;
	margin-left: 20px;
}

div#explanation-container {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin: 10px 0 0 0;
}

div#explanation {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

div#explanation p {
	font-family: "museo-sans", sans-serif;
	color: #292929;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 1.2em;
}

div#explanation ol {
	text-shadow: 0 1px 2px #292929;

}


div#explanation li {
	font-family: "museo-sans", sans-serif;
	color: #ffffff;
	text-shadow: 0 1px 2px #292929;
	font-size: 2em;
	font-weight: bolder;
}

/*
Button
*/

div#button-wrapper {
	width: 100%;
}

div#button-container {
	width: 200px;
	margin: 0 auto;
	background: #ff5db1; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff5db1 0%, #ef017c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* IE10+ */
	background: linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #000000;
	-webkit-box-shadow: 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000, inset 0px 1px 0px #fff;
}

div#unicornride {

}

div#unicornride p {
	width: 125px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	color: white;
	text-shadow: 0 1px 2px #292929;
	font-family: "muse-sans", sans-serif;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: lightpink;
}

a:active {
	color: #ffffff;
}

/*
Twitter Overlay
*/

div#twitter-wrapper {
	width: 100%;
}

div#twitter-container {
	background: #292929;
	/*opacity: .75;*/
	width: 600px;
	height: 200px;
	margin: 0 auto;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 5px;
	border-radius: 3px;
	border-top-left-radius: 5px;
	box-shadow: 0 5px 5px #292929;
}

div#twitter-overlay label {
	color: #f1f1f1;
	margin: 80px;
	font-family: "museo-slab", sans-serif;
	font-size: 1em;
	text-shadow: 0 1px 2px #292929;
}

div#twitter-overlay input {
	width: 120px;
	margin: 60px 0 0 20px;
	border-radius: 3px;
	float: left;
}



/*
NPH aka Meanwhile Page
*/

div#meanwhile {
	width: 100%;
}

div#nph-container {
	width: 600px;
	height: 740px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 2px 3px #292929;
	padding: 40px;
}

div#nph-img {
	float: left;
	border: 10px solid #f1f1f1;
	box-shadow: 0 1px 2px #292929;
	margin: 20px;
}

div#meanwhile p {
	font-size: 2.5em;	
	font-family: "museo-slab", sans-serif;
	color: #636363;
}

div#meanwhile span {
	font-family: "museo-sans", sans-serif;
	font-size: .8em;
	color: #999;
}













