/*
Main Landing Page
*/


body {
	
	background: url(http://writecause.files.wordpress.com/2007/10/nob-hill-san-francisco-ca-usa-google-maps.jpg);
	background-repeat: repeat;
	background-repeat: repeat;
	width: 100%;
	overflow: hidden;
}

div#main {
	background: #c0c0c0 url(../img/noise.png);
	width: 960px;
	margin: 0 auto;
	box-shadow: 0 10px 60px #292929;
	padding-bottom: 15px;
	border-radius: 15px;
	padding: 40px 0;
	border: 1px solid #999999;
}

div#paper-container {
	background: #e6e6e6;
	width: 700px;
	height: 660px;
	margin: 0 auto;
	box-shadow: 0 2px 3px #292929;
}

div#title-container {
	/*width: 960px;*/
}

div#unicorn-title-wrapper {
	width: 960px;
	margin: 0 auto;
	clear: right;
}

img#logo {
	float: left;
	margin: 0 0;
}

div#title {
	width: 560px;
	height: 120px;
	margin: 0 auto;
	float: left;
}

img#nph {
	float: left;
}

h1 {
	font-family: "museo-slab", sans-serif;
	font-size: 5em;
	color: #444;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 65px;
	/*height: 100px;*/
}

h3 {
	font-family: "museo-sans", sans-serif;
	line-height: 20px;
	color: #636363;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: -40px;
	margin-left: 15px;
	font-size: 1.1em;
}

div#explanation-container {
	width: 100%;
	overflow: hidden;
	margin: 10px 0 0 0;
}

div#explanation {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

div#explanation p {
	font-family: "museo-sans", sans-serif;
	color: #292929;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 0.9em;
	margin-top: 20px;
}

div#explanation ol {
	text-shadow: 0 1px 2px #292929;

}


div#explanation li {
	font-family: "museo-slab", serif;
	color: #f93d9f;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 2.6em;
	font-weight: 900;
	margin: 0 0 0 20px;
}

/*
Get Started Button
*/

div.button-wrapper {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.button-container {
	width: 200px;
	margin: 0 auto;
	background: #ff5db1; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff5db1 0%, #ef017c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #000000;
	-webkit-box-shadow: 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000, inset 0px 1px 0px #fff;
}

div.button a {
	display: block;
	width: 125px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	color: white;
	text-shadow: 0 1px 2px #292929;
	font-family: "muse-sans", sans-serif;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: lightpink;
}

a:active {
	color: #ffffff;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: lightpink;
}

a:active {
	color: #ffffff;
}



/*
Twitter Overlay
*/

div#twitter-wrapper {
	width: 100%;
}

div#twitter-container {
	background: #292929;
	/*opacity: .75;*/
	width: 600px;
	height: 260px;
	margin: 0 auto;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 5px;
	border-radius: 3px;
	border-top-left-radius: 5px;
	box-shadow: 0 5px 5px #292929;
}

.form-row {
	margin-left: auto;
	margin-right: auto;
}
label {
	width: 60px;
	color: #f1f1f1;
	margin: 0 0 0 102px;
	font-family: "museo-slab", sans-serif;
	font-size: 1em;
	text-shadow: 0 1px 2px #292929;
}

.form-row input {
	width: 170px;
	margin: 60px 0 0 20px;
	border-radius: 3px;
}



/*
NPH aka Meanwhile Page
*/

div#meanwhile {
	width: 100%;
}

div#nph-container {
	width: 600px;
	height: 740px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 2px 3px #292929;
	padding: 40px;
}

div#nph-img {
	float: left;
	border: 10px solid #f1f1f1;
	box-shadow: 0 1px 2px #292929;
	margin: 20px;
}

div#meanwhile p {
	font-size: 2.5em;	
	font-family: "museo-slab", sans-serif;
	color: #636363;
}

div#meanwhile span {
	font-family: "museo-sans", sans-serif;
	font-size: .8em;
	color: #999;
}



#unicorn-customer, #unicorn-source {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 50%;
    margin-top: -16px;
}
#unicorn-source {
    margin-top: 16px;
}
#unicorn-map {
    position: absolute;
    left: 50%;
    margin-left: -240px;
    margin-top: -240px;
    top: 50%;
    border: 20px solid #f1f1f1;
    box-shadow: 0 10px 50px #292929;
}


